<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<strong><%= @event.rsvp_count %> RSVP</strong>

<% if can_haz_rsvp?(@event) %>
<%= render partial: "/rsv_ps/form" %>
<% else %>
<form id="new_membership">
</form>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
